* {
    on-primary-fixed:        {{colors.surface_container}};
    on-primary:              {{colors.surface_container_high}};
    on-surface:              {{colors.on_surface}};
    on-secondary:            {{colors.on_secondary}};
    primary:                 {{colors.primary}};
    primary-fixed:           {{colors.primary_fixed}};
    secondary-container:     {{colors.secondary_container}};
    error:                   {{colors.error}};
}
